.checkbox input[type="checkbox"] {
	vertical-align: text-bottom;
}

@media (min-width: @screen-sm-min) {
	.form-horizontal label {
		text-align: right;
		margin-bottom: 0;
	}
}

label {
	font-weight: normal;
}

/*
 * Reduce the bottom margin within forms to make them more dense.
 */
.form-group {
	margin-bottom: 9px;
}

/*
 * Icons
 */
.btn i {
	margin-right: 6px;
}
	
i.fa-check {
	color: green;
}

i.fa-times {
	color: red;
}

/*
 * edit button is the inline edit / delete elements that are placed at the end of a table row.
 */
.editbutton {
	background-color: transparent;
}

/*
 * form-inline is typically at the top or bottom of the main content, so have margins to stand off.
 */
.form-inline {
	margin-top: 6px;
	margin-bottom: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
//	border: 1px solid blue;
}

/*
 * Status needs a margin off the bottom to be consistent with the nav bar.
 */
 #status.container {
 	margin-bottom: 9px; //15 (navbar bottom margin) - 6 (top margin of inline form)
 }
 
/*
 * Sticky footer
 */
html {
	position: relative;
	min-height: 100%;
}

@footer-height: 60px;
body {
	margin-bottom: @footer-height;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: @footer-height;
	background-color: @gray-lighter;
}

nav > .pagination {
	margin-top: -@line-height-computed; // To compensate for the bottom margin on the table above.
}

