.checkbox input[type="checkbox"] {
	vertical-align: text-bottom;
}

@media (min-width: @screen-sm-min) {
	.form-horizontal label {
		text-align: right;
		margin-bottom: 0;
	}
}

label {
	font-weight: normal;
}

.form-group {
	margin-bottom: 9px;
}

// Icons
.btn i {
	margin-right: 6px;
}
	
i.fa-check {
	color: green;
}
