{% block form %}
	{% if multi %}
	<form role="form" enctype='multipart/form-data' method='post' action='{{ action }}' name='{{name}}'>
	{% else %}
	<form role="form" method='post' action='{{action}}' {{ name }}>
	{% endif %}
{% endblock form %}

{% block form_end %}
</form>
{% endblock form_end %}

{% block table %}
<center><table class="{{ class }}" {{ extra }} cellpadding="{{padding}}" cellspacing=""{{spacing}}>
{% endblock table %}

{% block table_end %}
</table></center>
{% endblock table_end %}

{% block table2 %}
<center><table style="border: 1px solid blue" class="{{ class }}" {{ extra }} cellpadding="{{padding}}" cellspacing=""{{spacing}}>
{% endblock table2 %}

{% block table2_end %}
</table></center>
{% endblock table2_end %}

{% block view_table %}
<div class="container">
<table class="table table-condensed">
{% for element in controls %}
{% if element.type == 'header' %}
<thead>
<tr>
{% for cell in element.content %}
<th>{{ cell | raw }}</th>
{% endfor %}
</tr>
</thead>
{% elseif element.type == 'body' %}
<tbody>
{% for row in element.content %}
<tr>
{% for cell in row.content %}
<td>{{ cell.content | raw }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
{% endif %}
{% endfor %}
</table>
</div>
{% endblock view_table %}

{% block view %}
<div class="container">
<div role="form" class="form-inline">
{% for control in controls %}
	{% if control.type == 'check' %}
	<div class="checkbox">
	<label>
		{{ control.controlAsString | raw }} {{ control.label }}
	</label>
	</div>
	{% elseif control.type == 'hidden' %}
	{{ control.controlAsString | raw }}
	{% else %}
	<div class="form-group">
	<label class="col-sm-3 control-label">{{ control.label }}</label>
	{{ control.controlAsString | raw }}
	</div>
	{% endif %}
{% endfor %}
</div>
</div>
{% endblock view %}

{% block view_1col_vertical %}
<div role="form" class="well">
{% for control in controls %}
	{% if control.type == 'check' %}
	<div class="checkbox">
	<label>
		{{ control.controlAsString | raw }} {{ control.label }}
	</label>
	</div>
	{{ control.controlAsString | raw }}
	</div>
	{% elseif control.type == 'hidden' %}
	{{ control.controlAsString | raw }}
	{% else %}
	<div class="form-group">
	<label class="col-sm-3 control-label">{{ control.label }}</label>
	{{ control.controlAsString | raw }}
	</div>
	{% endif %}
{% endfor %}
</div>
{% endblock view_1col_vertical %}

{% block view_1col_horizontal %}
<div role="form" class="container form-horizontal"><!-- {{ layout }} -->
{% for control in controls %}
	{% if control.type == 'check' %}
	<div class="form-group">
	<label class="col-sm-2">{{ control.label }}</label>
	<div class="col-sm-5">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% elseif control.type == 'label' %}
	<div class="form-group">
	<label class="col-sm-2 control-label">{{ control.label }}</label>
	<div class="col-sm-5">
	<p class="form-control-static">{{ control.controlAsString | raw }}</p>
	</div>
	</div>
	{% elseif control.type == 'file' %}
	<div class="form-group">
	<label class="col-sm-2">{{ control.label }}</label>
	<div class="col-sm-5">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% elseif control.type == 'heading' %}
	<h4 class="col-sm-12">{{ control.label }}</h4>
	{% elseif control.type == 'hidden' %}
	{{ control.controlAsString | raw }}
	{% else %}
	<div class="form-group">
	<label class="col-sm-2 control-label">{{ control.label }}</label>
	<div class="col-sm-5">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% endif %}
{% endfor %}
</div>
{% endblock view_1col_horizontal %}

{% block view_2col %}
<div class="container"><!-- {{layout}} -->
<div role="form" class="form-horizontal">
<div class="row">
{% for column in columns %}
<div class="col-sm-6">
{% for control in column.controls %}
	{% if control.type == 'check' %}
	<div class="form-group">
	<label class="col-sm-5">{{ control.label }}</label>
	<div class="col-sm-7">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% elseif control.type == 'label' %}
	<div class="form-group">
	<label class="col-sm-5 control-label">{{ control.label }}</label>
	<div class="col-sm-7">
	<p class="form-control-static">{{ control.controlAsString | raw }}</p>
	</div>
	</div>
	{% elseif control.type == 'file' %}
	<div class="form-group">
	<label class="col-sm-5">{{ control.label }}</label>
	<div class="col-sm-7">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% elseif control.type == 'heading' %}
	<h4 class="col-sm-12">{{ control.label }}</h4>
	{% elseif control.type == 'hidden' %}
	{{ control.controlAsString | raw }}
	{% else %}
	<div class="form-group">
	<label class="col-sm-5 control-label">{{ control.label }}</label>
	<div class="col-sm-7">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock view_2col %}

{% block view_3col %}
<div class="container"><!-- {{layout}} -->
<div role="form" class="form-horizontal">
<div class="row">
{% for column in columns %}
<div class="{{ column.class }}">
{% for control in column.controls %}
	{% if control.type == 'check' %}
	<div class="form-group">
	<label class="col-sm-4">{{ control.label }}</label>
	<div class="col-sm-8">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% elseif control.type == 'label' %}
	<div class="form-group">
	<label class="col-sm-4 control-label">{{ control.label }}</label>
	<div class="col-sm-8">
	<p class="form-control-static">{{ control.controlAsString | raw }}</p>
	</div>
	</div>
	{% elseif control.type == 'file' %}
	<div class="form-group">
	<label class="col-sm-4">{{ control.label }}</label>
	<div class="col-sm-8">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% elseif control.type == 'heading' %}
	<h4 class="col-sm-12">{{ control.label }}</h4>
	{% elseif control.type == 'hidden' %}
	{{ control.controlAsString | raw }}
	{% else %}
	<div class="form-group">
	<label class="col-sm-4 control-label">{{ control.label }}</label>
	<div class="col-sm-8">
	{{ control.controlAsString | raw }}
	</div>
	</div>
	{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock view_3col %}

{% block tabs %}
<div class="container">
<ul class="ajaxtabs nav nav-tabs" role="tablist" rel="{{ divID }}">
	{% for tab in tabs %}
	<li role="presentation" {% if tab.isActive %} class="active" {% endif%}><button type="submit" name="{{ tab.name }}" {{ tab.accessKey}} {{ tab.disabled }}>{{ tab.text | raw }}</button></li>
	{% endfor %}
</ul>
<!-- <div class="spaceBox"></div> -->
<input type="hidden" name="{{ selName }}" value="{{ sel }}">
<div class="contentBox" id="divID">
{% endblock tabs %}

{% block tabs_end %}
</div>
</div>
{% endblock tabs_end %}
